.container {
    /* 1. Turn on the Flexbox layout engine */
    display: flex;

    /* This sets the "Main Axis" to VERTICAL (Top-to-Bottom) */
    flex-direction: column;


    /* This controls the "Main Axis" (Vertical) */
    /* 3. Center items VERTICALLY (Up/Down) */
    justify-content: center;

    /* 4. Make the form as tall as the user's screen */
    height: 100vh;

    /* This works on the "Cross Axis" (Horizontal) */
    /* 5. Center items HORIZONTALLY (Left/Right) */
    align-items: center;

}

.head{
	
	display: flex;
	justify-content: flex-end;

	margin-right: 20px;
	margin-top: 10px;
	gap: 20px;

	font-family: Arial, sans-serif;

}